*{
    box-sizing: border-box;
}

html{
    background-image: url('/bg.jpg');
    overflow: hidden;
    background-size: cover;
    background-position: justify;
    background-repeat: no-repeat;
}

.container{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
}

.keys{
    margin: 0 0.5rem;
    padding: 0 0.5rem;
}

.key{
    background-color: transparent;
    color: rgb(22, 255, 255);
    font-size: 1.2rem;
    width: 5em;
    height: 5em;
    margin: 0.8em 0;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.08s ease-in-out;
    border: none;    
    font-weight: 600;
    padding: 1rem 1rem;
    text-shadow: 0 0 .5rem #05a3ff;
}

button{
    font-size: 1.5em;
    display: block;
    margin-bottom: .5em;
}

.sound{
    font-size: .8em;
    text-transform: uppercase;
    color: rgb(22, 255, 255);
    text-shadow: 0 0 .5rem #05a3ff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.playing{
    transform: scale(1);
    border-color: #008080;
    box-shadow: 0 0 2rem #008080;
}

@media only screen and (max-width: 600px){
    .container{
        width: auto;
        flex-flow: column wrap;
    }
}

/* footer bar */
.attribution{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    transform: translateY(100%);
    transition: .3s;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    color: rgb(22, 255, 255);
}

.attribution:hover{
    transform: translateY(0);
}

.attribution::before{
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 100%;
    left: 0;
}
.attribution a{
    color: rgb(22, 255, 255);
}